@model IEnumerable<MVCToDoList_Api.Models.ToDoList>

@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Create">Add Task</a>
        </li>
    </ul>
</div>*@

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #c7e2fc;">
    <a class="navbar-brand" href="/Home/ToDoList">待辦事項</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/Home/ToDoList">首頁</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="/Home/Create">新增</a>
        </div>
    </div>
</nav>

<div class="container-fulid">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4">
        <div class="card  ">
            <div class="card-header">
                待辦事項
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="col-1 col-sm-1 col-md-1">#</th>
                            <th scope="col" class="col-6 col-sm-6 col-md-6">Task</th>
                            <th scope="col" class="col-1 col-sm-1 col-md-1">Level</th>
                            <th scope="col" class="col-2 col-sm-2 col-md-2">Deadline</th>
                            <th scope="col" class="col-2 col-sm-2 col-md-2">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.Title</td>
                                <td>@item.Level</td>
                                <td>@DateTime.Parse(item.Deadline.ToString()).ToShortDateString()</td>
                                <td>
                                    <button id="delete" type="submit" class="btn btn-danger"  onclick="doDelete(@item.Id)">
                                        <i class="fa fa-btn fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>
        function doDelete(id) {
            $.ajax({
                url: "/api/ToDoListApi/" + id,
                method: "DELETE",
                success: function (result) {
                    alert(result.Message);
                    window.location = "/Home/ToDoList";
                },
                error(xhr, textStatus, error) {
                    xhr.responseJSON.exceptionMessage;
                }
            })
        }
    </script>
}


